html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}


/* Variables */
:root {
    --salmon: #FFDFC1;
    --primary-red: #F23839;
    --white: #FFF;
    --black: #000;
    --light-gray: #D9D9D9;
    --medium-gray: #9B9B9B;
    --shadow-medium: 0 4px 4px rgba(0, 0, 0, 25%);
    --shadow-dark: 0 4px 2px rgba(0, 0, 0, 76%);
    --font-gaming: 'Press Start 2P', cursive;
}

/* body */
body {
    background-color: var(--salmon);
    font-family: var(--font-gaming);
}


/* header */
.header {
    height: 44.8px;
    width: 100%;
    background-color: var(--primary-red);
    border-bottom: 3px solid var(--black);
    box-shadow: var(--shadow-medium);
}

.header__container {
    display: grid;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 8px;
    grid-template-columns: auto 1fr;
}

.header__pokeball {
    position: relative;
    width: 45.6px;
    height: 45.6px;
    margin-right: 7.2px;
}

.header__pokeball img {
    position: absolute;
    top: 3.2px;
    width: 100%;
}

.header__texts {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header__text {
    display: block;
    color: var(--white);
    font-size: 1.04rem;
    font-weight: 400;
    margin: 0;
    padding-top: 3.2px;
}

.header__text--title {
    font-size: 1.36rem;
}


/* POKEMON */
.pokemon {
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 0 auto;
    max-width: 880px;
    margin-top: 20px;
}

.pokemon .pokemon__text {
    font-size: .971rem;
}

/* POKEMON: SCREEN */
.pokemon .pokemon__screen {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 258.16px;
    height: 244px;
    margin-right: .7rem;
    background-image: url(./assets/svg/screen.svg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(var(--shadow-dark));
}

.pokemon .pokemon__screen .pokemon__text {
    position: absolute;
    top: 52px;
    right: 28px;
}

.pokemon .pokemon__sprite {
    width: 202px;
    height: 202px;
    margin-bottom: 30px;
}

/* POKEMON: INFO GLOBE */
.pokemon .pokemon__globe {
    background-image: url(./assets/svg/globe.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 214.4px;
    margin-right: 1px;
    filter: drop-shadow(var(--shadow-medium));
}


.pokemon .pokemon__info {
    display: grid;
    padding: 21.6px 35.2px;
    width: 100%;
    height: 100%;
    max-height: 152px;
    grid-template-columns: repeat(3, 1fr);
}

.pokemon .pokemon__info .pokemon__text {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.pokemon .pokemon__info .pokemon__text strong {
    margin-right: 1.2rem;
    margin-bottom: .2rem;
}

.pokemon .pokemon__info .pokemon__text--red {
    color: var(--primary-red);
}

.pokemon .pokemon__info>div {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}


.pokemon .pokemon__list ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    flex-direction: column;
}

.pokemon .pokemon__stat {
    margin-bottom: 4px;
}

.pokemon .pokemon__stat .pokemon__text {
    font-size: .8rem;
}

.pokemon .pokemon__stat .pokemon__bar {
    background-color: var(--light-gray);
    border: 2px solid var(--black);
    height: 16px;
    width: 100%;
}

.pokemon .pokemon__stat .pokemon__bar div {
    width: 16%;
    height: 100%;
    background-color: var(--primary-red);
}

/* SEARCH */
.search {
    margin: 0 auto;
    max-width: 880px;
    margin-top: 13.6px;
}

.search .search__text--title {
    font-size: 1.36rem;
    text-align: center;
}

.search .search__input {
    border: 1px solid black;
    box-shadow: var(--shadow-medium);
    font-family: var(--font-gaming);
    font-size: 1.2rem;
    height: 42px;
    outline: none;
    text-align: center;
    width: 100%;
}

.search .search__input::placeholder {
    color: var(--medium-gray);
    font-family: var(--font-gaming);
    text-align: center;
}

/* Filters */

.filters {
    border: 1px solid var(--black);
    margin: 0 auto;
    margin-top: 15px;
    background-color: var(--white);
    max-width: 880px;
    box-shadow: var(--shadow-medium);
    padding: 9.6px;
}

.filters .filters__button--showhide {
    display: flex;
    cursor: pointer;
    width: fit-content;
}

.filters .filters__text--highlighted {
    font-size: 1.04rem;
    text-decoration: underline;
    margin-right: .32rem;
}

.filters .filters__triangle {
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 1.04rem solid transparent;
    border-right: 1.04rem solid transparent;
    border-bottom: 1.2rem solid var(--black);
}

.filters .filters__form {
    display: flex;
    justify-content: center;
    margin-top: .6rem;
}

.filters .filters__form>div:nth-child(1) {
    margin-right: 2.88rem;
}

.filters .filters__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 306.4px;
    margin-bottom: 0.88rem;
    position: relative;
}

.filters .filters__filter .filters__text--label {
    font-size: 0.88rem;
}

.filters .filters__filter .filters__select {
    width: 25.3rem;
    font-size: 1.2rem;
    font-family: var(--font-gaming);
    color: var(--primary-red);
    border: 1px solid var(--black);
    height: 1.6rem;
    padding: .2rem;

    outline: none;
    display: grid;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: -04px;
}

.filters .filters__clear {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    width: 100%;
}

.filters .filters__button {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: .6rem .6rem;
}

.filters .filters__clear .filters__text {
    display: flex;
}

/* Order */
.order {
    max-width: 880px;
    margin: 0 auto;
    margin-top: 1.6rem;
    display: flex;
    justify-content: flex-end;
}

.order .order__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .88rem;
    position: relative;
}

.order .order__container .order__text--label {
    font-size: .88rem;
    margin-right: 1.6rem;
}

.order .order__container .order__select {
    width: 20.24rem;
    font-size: 0.96rem;
    font-family: var(--font-gaming);
    color: var(--primary-red);
    border: 1px solid var(--black);
    height: 1.6rem;
    padding: .16rem;


    outline: none;
    display: grid;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background: var(--white);
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: -04px;
}

/* CARDS */
.cards {
    max-width: 880px;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.cards .cards__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.cards .cards__card {
    width: 100%;
    height: 168px;
    background-color: var(--white);
    position: relative;
    cursor: pointer;
}

.cards .cards__sprite {
    width: 100%;
}

.cards .cards__text--name {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    bottom: 0;
}

.cards .cards__text--id {
    position: absolute;
    right: 0;
    top: 0;
    padding: .8rem .5rem;
    font-size: 1rem;
}

/* Cards loader */

.cards .cards__loader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 20px 0;
}

.cards .cards__loader img {
    width: 7rem;
    height: 7rem;
}

.cards .cards__loader .cards__text {
    font-size: 1.2rem;
}

.cards .cards__loader .cards__text--typing {
    display: inline-block;
    border-right: 4px solid;
    white-space: nowrap;
    width: 4ch;

    animation: typing 2.5s steps(4),
        blink .5s infinite step-end alternate;
    animation-iteration-count: infinite;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* Hidden */
.hidden {
    display: none !important;
}