html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}


/* Variables */
:root {
    --salmon: #FFDFC1;
    --primary-red: #F23839;
    --white: #FFF;
    --black: #000;
}

/* body */
body {
    background-color: var(--salmon);
    font-family: 'Press Start 2P', cursive;
}

/* header */
.header {
    height: 56px;
    width: 100%;
    background-color: var(--primary-red);
    border-bottom: 3px solid var(--black);
}

.header__container {
    margin: 0 auto;
    max-width: 1250px;
    display: grid;
    grid-template-columns: auto 1fr;
}

.header__pokeball {
    width: 57px;
    height: 57px;
    margin-right: 9px;
    position: relative;
}

.header__pokeball img {
    width: 100%;
    position: absolute;
    top: 4px;
}

.header__texts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__text {
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 400;
    display: block;
    margin: 0;
    padding-top: 4px;
}

.header__text--title {
    font-size: 1.7rem;
}